{% extends 'blog/base.html' %}

{% load static %}

{% block title %} post.content {% endblock %}

{% block body %}

<div id="cover-detail" style="background-image: url('/media/{{ post.img }}');">
    <h1 id="cover-text">{{ post.title }}</h1>
</div>

<div id="post-content">
    <div class="post-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{ post.title }}</h1>
                    <br>
                    <p>{{ post.content }} </p>
                    <h1>Comment:</h1>
                    <ul>
                        {% for i in comments %}
                            <li><p>{{ i.comment_text }}</p></li>
                            <div class="col-md-4">
                                <a href="{% url 'del_com' post.id i.id %}"><button>delete</button></a>
                            </div>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>


{% endblock %}